.marker-cluster-small {
	background-color: rgba(0, 0, 80, 0.9);
	}
.marker-cluster-small div {
	background-color: rgba(255, 255, 255, 1);
	}

.marker-cluster-medium {
	background-color: rgba(0, 0, 80, 0.9);
	}
.marker-cluster-medium div {
	background-color: rgba(255, 255, 255, 1);
	}

.marker-cluster-large {
	background-color: rgba(0, 0, 80, 0.9);
	}
.marker-cluster-large div {
	background-color: rgba(255, 255, 255, 1);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 36px;
	height: 36px;
	margin-left: 1px;
	margin-top: 1px;

	text-align: center;
	border-radius: 40px;
	font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 36px;
	}