.m-datepicker, .date .input-group-append span{
    background-color: white !important;
}

.iframe-produsen, .iframe-produsen iframe{
    width: 100%;
}

.iframe-konsumen, .iframe-konsumen iframe{
    width: 100%;
}

.map-harga-harian{
    width: 100%;
    max-height: 550px;
    padding-left: 15px;
    padding-right: 15px;
}

.row-produsen, .row-konsumen{
    padding: 15px;
}

.filter-txt{
    padding: 7px;
}