/* @import "~leaflet/dist/leaflet.css"; */

@media screen and (max-width : 1820px){
    .title-pajale{
        margin: 37px 49px 15px !important;
    }
}
/* 
iframe{
    border-radius: 10px !important;
} */

.title-pajale{
    margin: 37px 49px 0px;

    width: 85px;
    height: 24px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #313D54;
}

.input-group{
    margin: 10px;
    /* /* width: 250px !important; */
    height: 40px !important; 
    display: inline-flex;
    padding: 0;
}

.form-control{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 8px;

    cursor:pointer;
}

.select-opt{
    padding: 1rem;
}

.select-opt .col-md-11{
    margin: 0;
    padding: 0;
}

.select-opt, .date-input input::placeholder{
    font-family: Poppins, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 24px !important;
    color: #474747 !important;
}

.select-opt .col-md-1{
    margin: 0;
    padding: 0;
}

.select-opt .col-md-1 p{
    align-items: center;
    margin: 10px 0px 0px 45px;
    width: fit-content !important;
}

/* ==== container-poktan ==== */

.map-title-cont{
    margin-bottom: 20px;
}

.map-title{
    margin: 7px 20px 0px 15px;
    width: 261px;
    height: 24px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #313D54;
}

.card-map{
    background: #FFFFFF !important;
    border-radius: 10px !important;
    width: 100%;
    height: 700px;
}

.wrapper-map{
    margin: 0 auto;
    width: 100%;
    height: 610px;
    display: flex;
    justify-content: left;
}

.map-style{
    width: 100%;
    border: 0; 
    /* height: 450px;  */
    background: #f4f4f4;
}

.search-map{
    border: none;
    margin-bottom: 1em;
}

.container-map{
    max-width: fit-content;
    margin: auto;
}

/* ==== untuk card poktan iframe ==== */
/* .container-poktan{
    width: 768px !important;
    height: 519px !important;
    margin: auto;
} */

.row-poktan{
    margin: 15px;
}

#iframe1 iframe{
    width: 100%;
}

/* .card-pajale-1{
    width: 236px !important;
    height: 136px;
    display: inline-block;
    margin: 15px;
}

.body-pajale-1{
    width: 206px;
    height: 106px;
}

.card-harga-konsumen{
    width: 768px;
    height: 353px;
    margin: 15px;
} */

/* media screen bootstrap poktan */


/* ==== untuk card monitoring iframe ==== */

.row-monitoring{
    margin: 30px;
    height: fit-content;
}

.col-monitoring{
    margin: auto;
    display: inline-block;
    max-width: fit-content;
}

#iframe2 iframe{
    width: 100%;
}

/* .card-pajale-monitoring{
    width: 502px;
    height: 417px;

    /* background: #FFFFFF;
    border-radius: 10px; 
} */

/* .wrapper-chart{

} */

/* === untuk card luas baku === */
.row-luas-tanam{
    margin: 30px;
    justify-content: space-around;
}

.card-pajale-2{
    width: 236px !important;
    height: 136px;
    display: inline-block;
    padding: 15px;
}

.body-pajale-2{
    width: 206px;
    height: 106px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* ==== untuk card produktivitas ==== */
.row-produktivitas{
    margin: 30px;
    justify-content: space-around;
}

.card-produktivitas{
    width: 502px;
    height: 136px;

    /* background: #FFFFFF;
    border-radius: 10px; */
}

