<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">KOSTRATANI</h3>
    </div>
  </div>
</div>
<div class="m-content">
  <!-- Filter Begin -->
  <div class="m-portlet__body" style="padding-left: 20px;">
    <div class="m-form m--margin-top-20 m--margin-bottom-30">
      <div class="form-group m-form__group row">
        <label class="col-1 col-form-label">
          Filter:
        </label>
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-2">
              <select onchange="selected_tahun(this.value);" type="text" id="tahun_pil" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                <option value="">All Tahun</option>
                <?php foreach ($this->api[382]["data"]['tahun'] ?? [] as $k => $v) { ?>
                  <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                <?php } ?>
              </select>
            </div>
            <div class="col-md-2">
              <select onchange="selected_bulan(this.value);" type="text" id="bulan_pil" name="bulan" class="form-control m-selectpicker" data-live-search="true">
                <option value="">All Bulan</option>
                <?php foreach ($this->api[382]["data"]['bulan'] ?? [] as $k => $v) { ?>
                  <option value="<?= $v["bulan_text"] ?>"><?= $v["bulan_text"] ?></option>
                <?php } ?>
              </select>
            </div>
            <div class="input-group col-md-3">
              <select onchange="get_prov(this);" class="form-control m-selectpicker" data-live-search="true" name="prov" id="select-prov">
                <option value="">All Provinsi</option>
                <?php foreach ($this->api[382]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                  <option value="<?= $v["kode_prov"] ?>"><?= $v["nm_prov"] ?></option>
                <?php } ?>
              </select>
            </div>
            <div class="input-group col-md-3">
              <select onchange="get_kabkot(this);" class="form-control m-selectpicker" data-live-search="true" name="kabkota" id="select-kabkota">
                <option value="">All Kabupaten/Kota</option>
              </select>
            </div>
            <div class="input-group col-md-2">
              <select onchange="get_kecamatan(this)" class="form-control m-selectpicker" data-live-search="true" name="kecamatan" id="select-kec">
                <option value="">All Kecamatan</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-poktan">
      <!-- map, poktan, harga konsumen, dll. -->
      <div class="col-md-5">
        <div class="m-portlet">
          <div class="m-portlet__head m-portlet--head-sm ">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  MAP Pajale
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body" style="padding: 0;">
            <div class="map-style" id="map-highlight-2" style="z-index: 1; height: 567px;"></div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <iframe id="iframe-poktan" src='http://172.17.62.16:3000/public/dashboard/8869afa9-94a6-4bc2-a72f-b6e78923e91e' frameborder='0' width="100%" height='700' allowtransparency></iframe>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <iframe id="iframe-produktivitas" src='http://172.17.62.16:3000/public/dashboard/98c06cb3-9e52-4d3c-876a-005d57ab1465' frameborder='0' width="100%" height='1100' allowtransparency></iframe>
      </div>
    </div>
  </div>
</div>