<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Monitoring Data Harian Pemotongan Sapi dan Kerbau</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-form m--margin-top-20 m--margin-bottom-30">
        <div class="form-group m-form__group row">
            <!-- filter start -->
            <label class="col-1 col-form-label">
                Filter:
            </label>
            <div class="col-md-3">
                <div class="input-group" id="kt_daterangepicker_2" style="background-color: white;">
                    <input type="text" class="form-control" id="txt-date" readonly="readonly" placeholder="Select date range">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <select type="text" id="provinsi_1" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Provinsi</option>
                    <?php foreach ($this->api[333]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["provinsi"] ?>"><?= $v["provinsi"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-3">
                <select type="text" id="kab_1" name="kabupaten" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Kabupaten/Kota</option>
                    <?php foreach ($this->api[333]["data"]['kabupaten'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["kabupaten"] ?>"><?= $v["kabupaten"] ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <p>Data sumber : iSIKHNAS</p>
        <div class="row">
            <div class="col-12" id="portlet-324">
                <?= $this->action("publish", "portlet", "bigbuilder", ["id" => 571, "height" => "920px"]) ?>
            </div>
        </div>
    </div>
</div>