<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Sebaran Benih</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row m--padding-10">
        <div class="col-md-1 m--padding-10">Filter: </div>
        <div class="col-md-3">
            <select type="text" id="tahun_pil" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                <option value="">All Tahun</option>
                <?php foreach ($this->api[334]["data"]['tahun'] ?? [] as $k => $v) { ?>
                    <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="col-md-3">
            <select type="text" id="bulan_pil" name="bulan" class="form-control m-selectpicker" data-live-search="true">
                <option value="">All Bulan</option>
                <?php foreach ($this->api[334]["data"]['bulan'] ?? [] as $k => $v) { ?>
                    <option value="<?= $v["bulan_text"] ?>"><?= $v["bulan_text"] ?></option>
                <?php } ?>
            </select>
        </div>
        <div class="col-md-3">
            <select type="text" id="provinsi_pil" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                <option value="">All Provinsi</option>
                <?php foreach ($this->api[334]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                    <option value="<?= $v["provinsi"] ?>"><?= $v["provinsi"] ?></option>
                <?php } ?>
            </select>
        </div>
    </div>
    <p>Data sumber : http://prasarana.pertanian.go.id/benihpupukmy/</p>
    <div class="row row-iframe">
        <div class="col-12" id="portlet-329">
            <div class="iframe-sebaran">
                <iframe id="iframe-329" src="https://10.1.231.160:8443/public/dashboard/d7af6a42-6724-42f7-a22f-d785fd9772a7" frameborder="0" height="600" allowtransparency></iframe>
            </div>
        </div>
    </div>
</div>