<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">STOK BERAS DI PEDAGANG DAN PENGGILINGAN</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-form m--margin-top-20 m--margin-bottom-30">
        <div class="form-group m-form__group row">
            <!-- filter start -->
            <label class="col-1 col-form-label">
                Filter:
            </label>
            <div class="col-md-4">
                <div class="input-group" id="kt_daterangepicker_2" style="background-color: white;">
                    <input type="text" class="form-control" id="txt-date" readonly="readonly" placeholder="Select date range">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- filter end -->
        </div>
        <p>Data sumber : AWR_BKP</p>
        <div class="row col-12" id="portlet-322">
            <?= $this->action("publish", "portlet", "bigbuilder", ["id" => 573, "height" => "1520px"]) ?>
        </div>
    </div>
</div>