<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">STOK PANGAN POKOK STRATEGIS BULOG</h3>
        </div>
    </div>
</div>
<p>Data sumber : AWR_BKP</p>
<div class="m-content">
    <div class="row m--margin-bottom-20">
        <div class="col-md-3">
            <div class="input-group" id="kt_daterangepicker_2" style="background-color: white;">
                <input type="text" class="form-control" id="txt-date" readonly="readonly" placeholder="Select date range">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="portlet-273">
            <?= $this->action("publish", "portlet", "bigbuilder", [
                "id" => 575, 
                "height" => "1820px", 
                "data"=>[
                    "tanggal"=>$this->api[328]["data"]["tanggal"]
                ]
            ]) ?>
        </div>
    </div>    
</div>