<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title"> SEBARAN PENYALURAN PUPUK BERSUBSIDI </h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-form m--margin-top-20 m--margin-bottom-30">
        <div class="form-group m-form__group row">
            <label class="col-1 col-form-label">
                Filter:
            </label>
            <div class="col-2">
                <select type="text" id="tahun_pil" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Tahun</option>
                    <?php foreach ($this->api[331]["data"]['tahun'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-2">
                <select type="text" id="bulan_pil" name="bulan" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Bulan</option>
                    <?php foreach ($this->api[331]["data"]['bulan'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["bulan_teks"] ?>"><?= $v["bulan_teks"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-2">
                <select type="text" id="provinsi_pil" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Provinsi</option>
                    <?php foreach ($this->api[331]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["nama_prov"] ?>"><?= $v["nama_prov"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-2">
                <select type="text" id="kab_pil" name="kabupaten" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Kabupaten/Kota</option>
                    <?php foreach ($this->api[331]["data"]['kabupaten'] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["nama_kab"] ?>"><?= $v["nama_kab"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <!-- <div class="col-2">
                <button class="btn btn-primary">Submit</button>
            </div> -->
        </div>
        <p>Data sumber : API SIAGA (Sistem Informasi Niaga)</p>
    </div>
    <div class="row">
        <div class="col-12" id="portlet-326">
            <div class="iframe-pihc">
                <iframe id="iframe-326" src="https://10.1.231.160:8443/public/dashboard/2a265f46-26d0-496f-8e16-52eca1dbf603" frameborder="0" height="720" allowtransparency></iframe>
            </div>
        </div>
    </div>
</div>