<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Stok Beras Pasar Induk Cipinang Jakarta</h3>
        </div>
    </div>
</div>
<p>Data sumber : Scrapping (www.foodstation.co.id)</p>
<div class="m-content">
    <div class="row m--margin-bottom-20">
        <div class="col-md-3">
            <div class="input-group" id="kt_daterangepicker_2" style="background-color: white;">
                <input type="text" class="form-control" id="txt-date" readonly="readonly" placeholder="Select date range">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="la la-calendar-check-o"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="portlet-275">
            <?= $this->action("publish", "portlet", "bigbuilder", ["id" => 574, "height" => "1000px", "date"=>date()]) ?>
        </div>
    </div>
</div>