<div class="m-subheader">
	<div class="d-flex align items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Harga Pangan Pokok Strategis - Produsen
				<br>
				<h6><i>Berdasarkan tanggal <span id="tanggal_produsen"><?php echo $this->api[329]["data"]["tanggal"] ?></span></i></h6>
			</h3>
		</div>
	</div>
</div>
<div class="m-content pt-0">
	<!-- Filter Begin -->
	<div>
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">
				<div class="col-1">
					Filter :
				</div>
				<div class="col-3">
					<select type="text" id="provinsi_1" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
						<option value="">All Provinsi</option>
						<?php foreach ($this->api[2588]["data"] ?? [] as $k => $v) { ?>
							<option value="<?= $v["nm_prov"] ?>"><?= $v["nm_prov"] ?></option>
						<?php } ?>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- Filter End -->
	<div class="row">
		<!-- Lower Begin -->
		<div class="col-md-12">
			<!-- belum connect ke filter -->
			<?= $this->action("publish", "portlet", "bigbuilder", ["id" => 1018, "height" => "350px"]) ?>
		</div>
		<!-- Lower End -->
	</div>
</div>
<div class="m-subheader">
	<div class="d-flex align items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Harga Pangan Pokok Strategis - Konsumen
				<br>
				<h6><i>Berdasarkan tanggal <span id="tanggal_konsumen"><?php echo $this->api[330]["data"]["tanggal"] ?></span></i></h6>
			</h3>
		</div>
	</div>
</div>
<div class="m-content pt-0">
	<div class="m-form m--margin-top-20 m--margin-bottom-30">
		<div class="form-group m-form__group row">
			<label class="col-1 col-form-label">
				Filter:
			</label>
			<div class="col-3">
				<select type="text" id="provinsi_2" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
					<option value="">All Provinsi</option>
					<?php foreach ($this->api[2588]["data"] ?? [] as $k => $v) { ?>
						<option value="<?= $v["nm_prov"] ?>"><?= $v["nm_prov"] ?></option>
					<?php } ?>
				</select>
			</div>
			<div class="col-3">
				<select type="text" onchange="changeKabupaten(this.value)" id="kabupaten_1" name="kabupaten_1" class="form-control m-selectpicker" data-live-search="true">
					<option value="">All Kabupaten/Kota</option>
				</select>
			</div>
			<div class="col-2">
				<!-- <button class="btn btn-primary">Submit</button> -->
			</div>
		</div>
	</div>
	<!-- Filter End -->
	<div class="row">
		<div class="col-12" id="portlet-291">
			<?= $this->action("publish", "portlet", "bigbuilder", ["id" => 1017, "height" => "650px"]) ?>
		</div>
	</div>
</div>