<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Harga Komoditas Harian</h3>
            <p>Data sumber : AWR_BKP</p>
        </div>
    </div>
</div>
<div class="m-content">
    <?php
    // Zend_Debug::dump($this->api);
    ?>
    <div class="row">
        <div class="row map-harga-harian">
            <div class="col-md-6 card-map-1">
                <div class="m-portlet">
                    <div class="m-portlet__head m-portlet--head-sm ">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Map
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding: 0;">
                        <div class="map-style" id="map-highlight-harga-harian" style="z-index: 1; height: 438px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 card-grafik">
                <div class="row m--margin-bottom-15">
                    <div class="col-md-4">
                        <select type="text" id="jenis-graph" name="graph" class="form-control m-selectpicker" data-live-search="true">
                            <option value="produsen" selected="selected">Harga Produsen</option>
                            <option value="konsumen">Harga Konsumen</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select type="text" id="jenis-produk" name="produk" multiple="multiple" class="form-control m-selectpicker" data-max-options="9" data-live-search="true">
                            <?php foreach ($this->api[2585]["data"] ?? [] as $k => $v) { ?>
                                <option value="<?= $v["nama_komoditas"] ?>"><?= $v["nama_komoditas"] ?></option>
                            <?php } ?>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group" id="kt_daterangepicker_2" style="background-color: white;">
                            <input type="text" class="form-control" id="txt-date" readonly="readonly" placeholder="Select date range">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet">
                    <div class="m-portlet__body" style="padding: 0;">
                        <div class="row col-12 row-iframe iframe-konsumen">
                            <iframe id="iframe-grafik" src="" frameborder="0" height="465" scrolling="no" allowtransparency></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 row-iframe" id="portlet-327">
            <div class="col-md-6">
                <div class="row row-produsen">
                    <div class="col-md-1 filter-txt"> Filter: </div>
                    <div class="col-md-5">
                        <select type="text" id="provinsi_produsen" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                            <option value="">All Provinsi</option>
                            <?php foreach ($this->api[335]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                                <option value="<?= $v["provinces_id"] ?>,<?= $v["nama_provinsi"] ?>"><?= $v["nama_provinsi"] ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="iframe-produsen">
                    <h6 class="text-muted"> Berdasarkan Tanggal <span id="tanggal_produsen"><?php echo $this->api[2600]["data"]["tanggal"]["tanggal_max_nas"] ?></span></h6>
                    <iframe id="iframe-prod" src='https://10.1.231.160:8443/public/dashboard/24a002b6-80dc-4275-87b4-08fef87768d8' frameborder="0" height="650" allowtransparency></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row row-konsumen">
                    <div class="col-md-1 filter-txt"> Filter: </div>
                    <div class="col-md-4">
                        <select type="text" id="provinsi_konsumen" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                            <option value="">All Provinsi</option>
                            <?php foreach ($this->api[336]["data"]['provinsi'] ?? [] as $k => $v) { ?>
                                <option value="<?= $v["provinces_id"] ?>,<?= $v["nama_provinsi"] ?>"><?= $v["nama_provinsi"] ?></option>
                            <?php } ?>
                        </select> </div>
                    <div class="col-md-4">
                        <select type="text" id="kabupaten_konsumen" name="kabupaten" class="form-control m-selectpicker" data-live-search="true">
                            <option value="">All Kabupaten/Kota</option>
                            <?php foreach ($this->api[336]["data"]['kabupaten'] ?? [] as $k => $v) { ?>
                                <option value="<?= $v["regencies_id"] ?>,<?= $v["nama_kabupaten"] ?>"><?= $v["nama_kabupaten"] ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
                <div class="iframe-konsumen">
                    <h6 class="text-muted">Berdasarkan Tanggal <span id="tanggal_konsumen"><?php echo $this->api[2599]["data"]["tanggal"]["tanggal_max_nas"] ?></span></h6>
                    <iframe id="iframe-kon" src="https://10.1.231.160:8443/public/dashboard/1bc299e9-f722-4a55-8d74-0b08b2974ade" frameborder="0" height="650" allowtransparency></iframe>
                </div>
            </div>
        </div>
    </div>
</div>