<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Luas Baku Sawah</h3>
        </div>
    </div>
    <p>Sumber data: file geojson awr.litbang.pertanian.go.id/dblitbang, javascript awr.litbang.pertanian.go.id/dblitbang</p>
</div>
<div class="m-content">
    <div class="row row-standing m--margin-bottom-30">
        <div class="col-md-4">
            <div class="m-portlet" style="vertical-align:top; background-color:white; margin-bottom:0; height: 330px;">
                <div class="m-portlet__head m-portlet--head-sm ">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                INDONESIA
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding:1rem; height:280px;">
                    <table style="border-style:none; width:100%; height:100%; font-size:x-large" cellpadding="0" cellspacing="10">
                        <tr>
                            <td style="vertical-align:top">
                                <table style="width: 100%">
                                    <tr>
                                        <td>Luas Area</td>
                                        <td align="right">
                                            <div class="N">190,5 juta</div>
                                        </td>
                                        <td>ha</td>
                                    </tr>
                                    <tr>
                                        <td>Luas Baku Sawah</td>
                                        <td align="right">
                                            <div class="O">7.463.952</div>
                                        </td>
                                        <td>ha</td>
                                    </tr>
                                    <tr>
                                        <td>Sawah Tadah Hujan</td>
                                        <td align="right">
                                            <div class="Q">2.987.795</div>
                                        </td>
                                        <td>ha</td>
                                    </tr>
                                    <tr>
                                        <td>Lahan Kering Pertanian</td>
                                        <td align="right">
                                            <div class="R">21.237.811</div>
                                        </td>
                                        <td>ha</td>
                                    </tr>
                                    <tr>
                                        <td>IP Padi (Rerata)</td>
                                        <td align="right">
                                            <div class="P">238</div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-portlet" style="vertical-align:top; background-color:white;width:100%;height:330px; margin-bottom:0;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body" style="width: inherit; height: inherit; padding:1rem;">
                    <div style="position:relative; height:280px; width:100%; margin:0">
                        <canvas id="barSCCanvas" style="width:inherit; height:inherit"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-estimasi">
        <div class="col-md-6">
            <div class="m-portlet" style="vertical-align:top; background-color:white; height:300px;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body" style=" padding: 1rem; height: 280px;">
                    <div style="position:relative; height:inherit; width:inherit; margin:0">
                        <canvas id="lineSCCanvas" style="position:relative; height:inherit; width:inherit"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="m-portlet" style="vertical-align:top; background-color:white; height:300px;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body" style=" padding: 1rem; height: 280px;">
                    <div style="position:relative; height:inherit; width:inherit; margin:0">
                        <canvas id="lineBerasCanvas" style="position:relative; height:inherit; width:inherit; left: 0px; top: 0px;">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-peta">
        <div class="col-md-4">
            <div class="m-portlet" style="vertical-align:top; background-color:white; height: 490px">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body" style="font-size:large;width:100%;">
                    <div class="row" style="margin:0px 25px 2px 2px;">
                        <table>
                            <tr>
                                <td>
                                    <h5><strong>Level Data:</strong></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form id="level_data">
                                        <select id="checkLevel" class="m-selectpicker" size="1" style="width:400px;font-size:x-large" name="D1">
                                            <option value="https://10.1.231.162/kementan/index/page/id/291">Kecamatan</option>
                                            <option value="https://10.1.231.162/kementan/index/page/id/290" selected="selected">Kabupaten</option>
                                            <option value="https://10.1.231.162/kementan/index/page/id/289">Provinsi</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin:25px 2px;">
                        <table>
                            <tr>
                                <td>
                                    <h5><strong>Tema Peta:</strong></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form id="mapTheme">
                                        <select class="m-selectpicker" id="peta" size="5" style="width:400px;font-size:large" name="D2" onchange='updateMap()'>
                                            <option value="SENTINEL" selected="selected">SC Sentinel 2</option>
                                            <option value="SAWAH">Lahan Baku Sawah</option>
                                            <option value="GAMBUT">Lahan Gambut</option>
                                            <option value="AGK">Zona Agroklimat</option>
                                            <option value="SISDA">Potensi Optimalisasi SDA Pertanian</option>
                                            <option value="LONGSOR">Peta Rawan Longsor</option>
                                            <option value="SAWIT">Lahan Sawit</option>
                                            <option value="PSR">Peremajaan Sawit</option>
                                            <option value="TEBU">Lahan Tebu</option>
                                            <option value="KERING">Lahan Kering Tanaman Semusim</option>
                                            <option value="KOMO">Kesesuaian Komoditas (AEZ)</option>
                                            <option value="KOMOINV">Kesesuaian Komoditas (Investasi)</option>
                                            <option value="CITRA">Citra Satelit (ESRI)</option>
                                            <option value="ADMIN">Batas Kabupaten</option>
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row" style="margin:25px 2px;">
                        <table>
                            <tr>
                                <td>
                                    <h5><strong>Index:</strong></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="width:420px;height:200px;white-space:nowrap;overflow-y: scroll">
                                        <img id="legenda" src="/assets/kementan/map-tiles/sentinel/legenda.png" style="width:95%;height:auto">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-portlet" style="vertical-align:top; background-color:white; width:100%; height:420px;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__head m-portlet--head-sm ">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Map Indonesia
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="vertical-align:top;background-color:white;width:inherit;height:inherit; padding: 0 !important;">
                    <div id="navMap" style="position:relative;height: 420px; width:inherit">
                        <div id="mapid" style="z-index:1; position:relative;height:inherit; width:inherit; font-size:large"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-peluang">        
        <div class="col-md-6">
            <div class="m-portlet" style="padding:0;vertical-align:top;background-color:white;width:100%;height:350px;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body" style="padding:1rem; height:inherit;">
                    <div style="position:relative; height:100%; width:100%; margin:0">
                        <canvas id="barKatam3Canvas" style="width:inherit; height:inherit"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="m-portlet" style="padding:0;vertical-align:top;background-color:white;width:100%;height:350px;">
                <!-- <div class="card-header"></div> -->
                <div class="m-portlet__body m--block-center" style="padding:1rem; height:inherit;">
                    <div class="row" style=" height: 320px; width: 680px;">
                        <div style="position:relative; height:100%; width:100%; margin:0">
                            <canvas id="barUrea3Canvas" style="position:relative; width:inherit; height:inherit"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <table style="width: 100%;height:100%" cellpadding="2" cellspacing="2">
                            <tr>
                                <td style="background-color:rgba(0,0,0,1);color:white;font-size:medium;width:25%;text-align:center">Urea</td>
                                <td style="background-color:rgba(0,0,255,1);color:white;font-size:medium;width:25%;text-align:center">Za</td>
                                <td style="background-color:rgba(0,255,255,1);color:black;font-size:medium;width:25%;text-align:center">SP36</td>
                                <td style="background-color:rgba(255,255,0,1);color:black;font-size:medium;width:25%;text-align:center">KCl</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- <div class="m-portlet__body" style="padding:1rem; height:inherit;">
                    <div style="position:relative; height:100%; width:100%; margin:0">
                        <canvas id="barUrea3Canvas" style="position:relative; width:inherit; height:inherit"></canvas>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>