<div class="m-subheader">
    <div class="d-flex align-items-center" style="padding-left:20px">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Asuransi Pertanian
            </h3>
        </div>
    </div>
</div>
<div class="m-content">
    <!-- Filter Begin -->
    <div class="m-portlet__body" style="padding-left: 20px;">
        <div class="m-form m-form--label-align-right m--margin-top-10 m--margin-bottom-10">
            <div class="row align-items-center">
                <div class="col-md-1">
                    Filter :
                </div>
                <div class="col-2">
                    <select type="text" id="selected_by" onchange="changejenis(this)" name="provinsi" class="form-control m-selectpicker">
                        <option value="autp">AUTP</option>
                        <option selected value="auts">AUTS</option>
                    </select>
                </div>
                <div class="col-4">
                    <div class="form-group m-form__group">
                        <div class="m-input-icon m-input-icon--right">
                            <input id="NIK-search" type="text" class="form-control m-input" placeholder="Cari berdasarkan NIK">
                            <span class="m-input-icon__icon m-input-icon__icon--right">
                                <span>
                                    <i class="fa fa-search"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>Data sumber : API SIAP (Sistem Informasi Asuransi Pertanian)</p>
    </div>
    <!-- Filter End -->
    <div class="row" style="padding:20px">
        <div class="col-sm-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m_portlet__body">
                    <h5 style="padding-left: 20px; padding-top:20px; padding-bottom:20px">Informasi Deskriptif</h5>
                </div>
                <div class="m_portlet__body" style="padding-left: 20px; padding-bottom:20px;padding-right:20px">
                    <div class="row">
                        <div class="col-6">
                            <table class=" table  m-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            NIK
                                        </td>
                                        <td class="nik">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nama
                                        </td>
                                        <td class="nama">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nama Kelompok Petani
                                        </td>
                                        <td class="nama_kel">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Provinsi
                                        </td>
                                        <td class="prov">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kabupaten/Kota
                                        </td>
                                        <td class="kabkat">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Kecamatan
                                        </td>
                                        <td class="kec">
                                            -
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class=" table  m-table">
                                <tbody>
                                    <tr class="luas_lahan_row">
                                        <td>
                                            Luas Lahan Diasuransikan
                                        </td>
                                        <td class="luas_lahan">
                                            -
                                        </td>
                                    </tr>
                                    <tr class="jumlah_ternak_row">
                                        <td>
                                            Jumlah Ternak Diasuransikan
                                        </td>
                                        <td class="jumlah_ternak">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Tanggal Klaim Terakhir
                                        </td>
                                        <td class="tanggal_klaim">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nilai Klaim Terakhir
                                        </td>
                                        <td class="nilai_klaim">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            No Polis Klaim Terakhir
                                        </td>
                                        <td class="no_polis">
                                            -
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Klaim
                                        </td>
                                        <td class="total_klaim">
                                            -
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 row" style="padding-bottom: 20px;">
            <div class="col-2">
                <select onchange="changetahun(this)" type="text" id="tahun" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">Tahun</option>
			<?php foreach ($this->api[2598]["data"] ?? [] as $k => $v) { ?>
                    <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                <?php } ?>
                </select>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m_portlet__body">
                    <h5 style="padding-left: 20px; padding-top:20px; padding-bottom:20px">Nilai Klaim dibayar perbulan</h5>
                </div>
                <div class="col-sm-12 m--margin-top-10">
                    <div class="m--margin-top-15" style=" display:flex;justify-content:center;align-items:center;flex-direction:column">
                        <iframe id="iframe-line" style="width: 100%;" src="https://10.1.231.160:8443/public/dashboard/be824bec-3822-4dfa-8cc9-dbff795fcfae#bordered=false" height="800px" frameborder="0" allowtransparency></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 m--margin-top-10">
            <h5 id="text1">Nilai Klaim Asuransi</h5>
            <div class="m--margin-top-15" id="portlet-335-1">
                <iframe id="iframe-asuransi" style="width: 100%;" src="https://10.1.231.160:8443/public/dashboard/ba4d3974-faf3-42f6-b2a6-605e1b2c4656" height="550px" frameborder="0" allowtransparency></iframe>
            </div>
        </div>
        <div class="col-sm-12 m--margin-top-30">
            <!-- Luas Lahan -->
            <h5 id="text2">Jumlah Sapi</h5>
            <div class="m--margin-top-15" id="portlet-335-2">
                <iframe id="iframe-bottom" style="width: 100%;" src="https://10.1.231.160:8443/public/dashboard/53cd63d4-ba83-49da-8787-2e044f6c3c28" height="550px" frameborder="0" allowtransparency></iframe>
            </div>
        </div>
    </div>

    <!-- Modals start -->
    <div class="modal" id="myModal">
        <div style="max-width:900px" class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Data Pemegang Polis</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body"  style="max-height: 500px;display: block;overflow: auto;">
                    <table id="modal-table">
                        <tr>
                            <td colspan="0">No results</td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modals End -->
</div>