<div class="m-subheader">
  <div class="d-flex align-items-center">
      <div class="mr-auto">
          <h3 class="m-subheader__title">Serangan OPT/DPI</h3>
      </div>
  </div>
</div>
<div class="m-content">
    <div class="m-form m--margin-top-10 m--margin-bottom-30">
        <div class="form-group m-form__group row">
            <label class="col-1 col-form-label">
                Filter:
            </label>
            <div class="col-md-2"> 
                <select type="text" id="opt_dpi_pil" name="opt_dpi_pil" class="form-control m-selectpicker">
                    <option value="opt-bun">OPT-BUN</option>
                    <option value="opt-tp">OPT-TP</option>
                    <option value="dpi-tp">DPI-TP</option>
                </select> 
            </div>
            <div class="col-md-2">
                <select type="text" id="tahun_pil" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Tahun</option>
                    <?php foreach ($this->api[2595]["data"]["tahun"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                    <?php } ?>
                </select> 
            </div>
            <div class="col-md-2 periode-pil">
                <select type="text" id="periode_pil" name="periode" class=" form-control m-selectpicker" data-live-search="true">
                    <option value="">All Periode</option>
                    <?php foreach ($this->api[2595]["data"]["periode"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["periode"] ?>"><?= $v["periode"] ?></option>
                    <?php } ?>
                </select> 
            </div>
            <div class="col-md-2 bulan-pil"> 
                <select type="text" id="bulan_pil" name="bulan" class=" form-control m-selectpicker" data-live-search="true">
                    <option value="">All Bulan</option>
                    <?php foreach ($this->api[2595]["data"]["bulan"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["bulan_teks"] ?>"><?= $v["bulan_teks"] ?></option>
                    <?php } ?>
                    <!-- php -->
                </select>
            </div>
            <div class="col-md-2"> 
                <select type="text" id="provinsi_pil" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Provinsi</option>
                    <?php foreach ($this->api[2595]["data"]["provinsi"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["kode_prov"] ?>,<?= $v["nama_provinsi"] ?>"><?= $v["nama_provinsi"] ?></option>
                    <?php } ?>
                    <!-- php -->
                </select>
            </div>
            <div class="col-md-2 kabkot-pil"> 
                <select type="text" id="kabkot_pil" name="kabkot" class=" form-control m-selectpicker" data-live-search="true">
                    <option value="">All Kabupaten/Kota</option>
                    <?php foreach ($this->api[2595]["data"]["kabupaten"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["kode_kab"] ?>,<?= $v["nama_kab"] ?>"><?= $v["nama_kab"] ?></option>
                    <?php } ?>
                    <!-- php -->
                </select>
            </div>
        </div>
    </div>
    <p>Data sumber : "1) DB_KOMODITAS (BUN) 2) file Excel (produk TP saja)"</p>
    <div class="row">
        <div class="row map-opt-dpi">
            <div class="col-md-12 card-map-1">
                <div class="m-portlet">
                    <div class="m-portlet__head m-portlet--head-sm ">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" id="map-title">
				MAP Organisme Pengganggu Tanaman untuk Komoditas Perkebunan
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding: 0;">
                        <div class ="map-style" id="map-highlight-opt" style="z-index: 1; height: 400px;"></div>         
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12 row-iframe" id="portlet-325">
            <div class="iframe-optdpi">
                <iframe
                    id="portlet-opt"
                    src="https://10.1.231.160:8443/public/dashboard/d82fdea6-9f02-486c-93a2-6735b7541dea"
                    frameborder="0"
                    height="800"
                    allowtransparency
                ></iframe>
            </div>            
        </div>
    </div>
</div>