<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title"> KUR </h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-form m--margin-bottom-30">
        <div class="form-group m-form__group row">
            <label class="col-1 col-form-label">
                Filter:
            </label>
            <div class="col-2">
                <select type="text" onchange="changetahun(this.value)" id="tahun_pil" name="tahun" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Tahun</option>
                    <?php foreach ($this->api[2596]["data"]["tahun"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["tahun"] ?>"><?= $v["tahun"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-2">
                <select type="text" id="bulan_pil" onchange="changebulan(this.value)" name="bulan" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Bulan</option>
                    <?php foreach ($this->api[2596]["data"]["bulan"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v["periode"] ?>"><?= $v["periode"] ?></option>
                    <?php } ?>
                </select>
            </div>
            <div class="col-2">
                <select type="text" id="provinsi_pil" onchange="changeprovinsi(this.value)" name="provinsi" class="form-control m-selectpicker" data-live-search="true">
                    <option value="">All Provinsi/Kabupaten</option>
                    <?php foreach ($this->api[2596]["data"]["provkab"] ?? [] as $k => $v) { ?>
                        <option value="<?= $v['kode_wil']?>,<?= $v['nama_wilayah'] ?>"><?= $v["nama_wilayah"] ?></option>             
                    <?php } ?>
                </select>
            </div>
            <!-- <div class="col-2">
                <button class="btn btn-primary">Submit</button>
            </div> -->
        </div>
        <p>Data sumber : "File Excel - Realisasi KUR (dikirimkan oleh PSP setiap minggu)"
        </p>
    </div>
    <div class="row">
        <div class="col-7">
            <iframe id="iframe-left" style="width: 100%;" src="https://10.1.231.160:8443/public/dashboard/be44f548-2145-4a5a-ae23-9cbac9a0659e" height="915px" frameborder="0" height="600" allowtransparency></iframe>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="m-portlet" style="width:100%;">
                    <div class="m-portlet__head m-portlet--head-sm ">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Map
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" style="padding: 0;">
                        <div class="map-style" id="map-kur" style="z-index: 1; height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="row col-6">
                <select type="text" id="pie_pil" onchange="changerealisasi(this.value)" name="pie-choice" class="form-control m-selectpicker">
                    <option value="bank" selected>Realisasi per Bank Penyalur</option>
                    <option value="subsektor">Realisasi per Subsektor</option>
                </select>
            </div>

            <div class="row m--margin-top-20">
                <div class="m-portlet" style="width:100%;">
                    <!-- <div class="m-portlet__head m-portlet--head-sm "> -->
                    <!-- <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" id="pie-penyaluran">
                                    Realisasi KUR per Bank Penyalur
                                </h3>
                            </div>
                        </div> -->
                    <!-- </div> -->
                    <div class="m-portlet__body" style="padding: 0;">
                        <iframe id="iframe-bottom" style="width: 100%;" src="https://10.1.231.160:8443/public/dashboard/6f0f2051-c66e-447d-a319-f92d6adc390a" height="450px" frameborder="0" height="600" allowtransparency></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>